numpy>=1.26.4,<3
scipy
matplotlib
qtpy
PyQt5
pandas
geographiclib
netCDF4
tqdm
parfor
cartopy
iri2020 @ git+https://github.com/space-physics/iri2020.git

# System packages still need to be installed outside pip:
# sudo apt-get install gfortran
# sudo apt-get install libxcb-randr0-dev libxcb-xtest0-dev libxcb-xinerama0-dev libxcb-shape0-dev libxcb-xkb-dev
